@model AAAv1.Models.FilteredCars

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <title>CarForm</title>
</head>
<body>
    <style>
        Body {
            background: linear-gradient(45deg, #000, #fff);               
        }
    </style>
    

    <center>
        
        @using (Html.BeginForm())
        {
            <table align="center" width="1000px" border="0" cellspacing="10">
                <tr>                    
                    <td colspan="2" align="center" width="1000px" height="40px">
                        <h1><font face="Arial">Поиск авто</font></h1>
                    </td>                    
                </tr>
                <tr>
                    <td colspan="2" align="center" width="1000px" height="275px" background="\Content\Images\7series-2015-a.jpg"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center" width="1000px">
                        <h2><font face="Arial">Выберите параметры желаемого авто:</font></h2>
                    </td>
                </tr>
                <tr>
                    <td align="right" width="500px" height="70px">
                        @Html.ValidationSummary()                        
                        <p align="right">Марка: @Html.DropDownListFor(x => x.SelectedCarManufacturerID, Model.CarManufacturers, new { style = "width:176px;" })    </p>                       
                        <p align="right">Цена от @Html.TextBoxFor(x => x.CarPriceLow, new { style = "width:59px;" }) до @Html.TextBoxFor(x => x.CarPriceHigh, new { style = "width:59px;" })    </p>                       
                    </td>
                    <td align="left" width="500px" height="70px">
                        @Html.ValidationSummary()                   
                        <p align="left">    Модель: @Html.TextBoxFor(x => x.SelectedCarModelID, new { style = "width:176px;" })</p>                        
                        <p align="left">    Год от @Html.TextBoxFor(x => x.CarYearLow, new { style = "width:59px;" }) до @Html.TextBoxFor(x => x.CarYearHigh, new { style = "width:59px;" }) </p>                       
                    </td>           
                </tr>
                <tr align="center" width="1000px" height="30px">
                    <td colspan="2">
                        @Html.ValidationSummary() 
                        <input style="width:176px;" type="submit" value="Искать" />
                    </td>
                </tr>
            </table>        
            
            foreach (var item in Model.ads)
        {
            if (item != null)
            {
                <br/>
                <tr>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.Car.Model.ManufacturerName)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.Car.Model.Name)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.Car.Year)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.Car.OdometerState)
                    </td>
                    <td align="center">
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    </td>
                </tr>
            }
        }      
        }            
        </center>   
    
</body>
</html>
