@model AAAv1.Models.FilteredCars

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <title>CarForm</title>
</head>
<body>
    <style>
        Body {
            background-color: azure;
        }
    </style>


    <center>
        @using (Html.BeginForm())
        {
            <table align="center" width="1000px" border="0" cellspacing="1">
                <tr>                    
                    <td align="center" width="1000px" height="40px">
                        <h1><font face="Arial">Поиск авто</font></h1>
                    </td>                    
                </tr>
                <tr>
                    <td colspan="2" align="center" width="1000px" height="275px" background="\Content\Images\7series-2015-a.jpg"></td>
                </tr>
                <tr>
                    <td align="center" width="260px" height="300px" bgcolor="white">

                        @Html.ValidationSummary()
                        <h2><font face="Arial">Выберите параметры желаемого авто:</font></h2>
                        <p align="center">Марка: @Html.DropDownListFor(x => x.SelectedCarManufacturerID, Model.CarManufacturers, new { style = "width:176px;" })</p>
                        <p align="center">Модель: @Html.TextBoxFor(x => x.CarModel, new { style = "width:176px;" })</p>
                        <p align="center">Цена от @Html.TextBoxFor(x => x.CarPriceLow, new { style = "width:59px;" }) до @Html.TextBoxFor(x => x.CarPriceHigh, new { style = "width:59px;" })</p>
                        <p align="center">Год от @Html.TextBoxFor(x => x.CarYearLow, new { style = "width:59px;" }) до @Html.TextBoxFor(x => x.CarYearHigh, new { style = "width:59px;" }) </p>
                        <input style="width:176px;" type="submit" value="Искать" />
                    </td>
                    <td align="center" width="740px" height="30px" bgcolor="white">
                        <table align="center" width="740px" border="0" cellspacing="1" bgcolor="white">
                            <tr>
                                <td align="center" width="70px" height="10px">
                                    <h5>Мark</h5>
                                </td>
                                <td align="center" width="70px" height="10px">
                                    <h5>Model</h5>
                                </td>
                                <td align="center" width="70px" height="10px">
                                    <h5>Year</h5>
                                </td>
                                <td align="center" width="70px" height="10px">
                                    <h5>Price</h5>
                                </td>
                                <td align="center" width="460px" height="10px">
                                    <h5>Description</h5>
                                </td>
                            </tr>   
                        </table>
                    </td>                    
                </tr>
            </table>
        }
    </center>
</body>
</html>
