@model AAAv1.Models.FilteredCars

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CarList</title>
</head>
<body>
    <style>
        Body {
            background-color: azure;
        }
    </style>
    <table align="center" width="1000px" border="0" cellspacing="1" bgcolor="white">
        <tr>
            <td align="center" width="100px" height="30px">
                <h3>Mark</h3>
            </td>
            <td align="center" width="100px" height="30px">
                <h3>Model</h3>
            </td>
            <td align="center" width="100px" height="30px">
                <h3>Year</h3>
            </td>
            <td align="center" width="100px" height="30px">
                <h3>Price</h3>
            </td>
            <td align="center" width="600px" height="30px">
                <h3>Description</h3>
            </>
        </tr>

        @foreach (var item in Model.CarList)
        {
            if (item != null)
            {
                <tr>
<<<<<<< HEAD
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.Mark)
=======
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer)
>>>>>>> origin/master
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td align="center">
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    </td>
                </tr>
            }
        }

    </table>
</body>
</html>
