@model AAAv1.Models.UserRecord
@using AAAv1.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <script type="text/javascript" src="~/scripts/jquery-2.2.2.js"></script>
    <link href="@Url.Content("~/Styles/vroomStyle.min.css")" rel="stylesheet" type="text/css" />
</head>
<body class="page page-catalog">
    <style>
        icon-garage {
            background: url(@Url.Content("~/Content/Images/icon.png")) no-repeat;
            padding-right: 25px;
        }
    </style>
    @Html.ActionLink(@"Форма поиска", "CarForm")
    <p align="center"> Ваш Email: @Model.Email </p>
    Оповещения:
    @foreach (Notification item in Model.Notifications)
    {
        <br />
        <span>Включено: @item.Enabled</span>
        <span> </span>
        <span>Содержимое оповещения: @item.Notifications</span>
        <span> </span>
        <span>Время последней отправки: @item.LastSendTime</span>
    }
    <br />
    Автомобили в избранном:
    <section id="section-catalog-results">
        <ul id="lstResults" class="list-unstyled">
            @foreach (ADS item in Model.FavouriteADS)
            {
                if (item != null)
                {
                    <li class="carItem">
                        <div class="car-header">
                            <div class="slick-slide item">
                            </div>
                            <img src="~/Content/Images/1.jpg">
                            @*<div class="car-header-badges"><div class="badge badge-sale-pending">Рекомендуемое</div></div>*@
                            <div class="car-header-metadata">
                                <div class="car-header-metadata-like">
                                    <div class="cmdAddToWishlist">
                                        @*<i class="icon" onclick="ADDFav('@("http://ab.onliner.by/car/"+item.Id)')"><img src="~/Content/Images/icon.png"></i>*@
                                        <i class="icon" onclick="ADDFav(@item.Id)"><img src="~/Content/Images/icon.png"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="car-content">
                            <div class="car-content-details">
                                <a href="@("http://ab.onliner.by/car/"+item.Id)" target="_blank">
                                    <div class="car-content-details-name">
                                        <span>@item.Car.Year</span>
                                        <span> </span>
                                        <span>@item.Car.Model.ManufacturerName</span>
                                        <span> </span>
                                        <span>@item.Car.Model.Name</span>
                                    </div>
                                </a>
                                <div class="car-content-details-mileage">
                                    <span>@item.Car.OdometerState</span>
                                    <span> km</span>
                                </div>
                            </div>
                            <div class="car-content-features"><span>unknown yet</span></div>
                        </div>
                        <a href="@("http://ab.onliner.by/car/"+item.Id)" target="_blank">
                            <div class="car-footer">
                                <div class="car-footer-price">
                                    <span class="car-footer-price-label">
                                        <span>Цена</span>
                                    </span>
                                    <span class="car-footer-price-value">
                                        <span class="vroom-price"> 0.00 BYN </span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            }
        </ul>
    </section>
</body>
</html>
